services:
  web: 
    build:
      context: ./src
    stop_signal: SIGINT
    ports:
      - "6767:6767" 
    volumes:
      - ./data:/data
    environment:
      - FLASK_ENV=production
      - DATA_DIR=/data