.drop-zone {
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    height: 30vh;
    width: 45vh;
    border: 2px dashed #ccc;
}

.drop-zone.dragover {
    background-color: #e3f2fd;
    border-color: #0d6efd !important;
}

.drop-zone.invalid {
    background-color: #f8d7da !important;
    border-color: #dc3545 !important;
}

#alertContainer {
    width: 50%;
    margin: 1rem auto 0 auto;
    text-align: center;
}